<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Language" content="ru" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Меню</title>
<base target="основная" />
<style type="text/css">
.style1 {
	font-size: large;
	color: #663300;
}
a {
	color: #663300;
}
a:visited {
	color: #008000;
}
</style>
</head>

<body style="background-color: #FFFF99">

<p class="style1"><a href="index/1.html">1.<strong>Назначение кис</strong></a></p>
<p class="style1"><strong><a href="index/2.html">2.Требования к кис</a></strong></p>
<p class="style1"><strong><a href="index/3.html">3.Общая структура объекта автоматизации</a></strong></p>
<p class="style1"><strong><a href="index/41.html">4.1 Техническое обеспечение</a></strong></p>
<p class="style1"><strong><a href="index/42.html">4.2 Системное программное обеспечение</a></strong></p>
<p class="style1"><strong><a href="index/43.html">4.3 Сетевое обеспечение</a></strong></p>
<p class="style1"><strong><a href="index/44.html">4.4 Средства организации баз данных и работа с ними</a></strong></p>
<p class="style1"><strong><a href="index/45.html">4.5 Прикладное программное обеспечение</a></strong></p>
<p class="style1"><strong><a href="index/46.html">4.6 Информационное обеспечение</a></strong></p>
<p class="style1"><strong><a href="index/5.html">5. Технология обработки информации</a></strong></p>
<p class="style1"><strong><a href="index/6.html">6. Обслуживание системы</a></strong></p>
<p class="style1"><strong><a href="index/7.html">7. Защита информации</a></strong></p>
<p class="style1"><strong><a href="index/8.html">8. Оценка эффективности </a> </strong></p>

</body>

</html>
