<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Без названия 2</title>
</head>

<frameset rows="64,*,133">
	<frame name="верхняя" scrolling="no" noresize="noresize" target="оглавление" src="Заголовок.htm">
	<frameset cols="315,*">
		<frame name="оглавление" target="основная" src="Меню.htm">
		<frame name="основная" src="Содержание.htm" target="_self">
	</frameset>
	<frame name="нижняя" scrolling="no" noresize="noresize" target="оглавление" src="Без%20названия_6.htm">
	<noframes>
	<body>

	<p>Эта страница использует рамки, однако ваш обозреватель их не 
	поддерживает.</p>

	</body>
	</noframes>
</frameset>

</html>
