<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Language" content="ru" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Меню</title>
<base target="основная" />
<style type="text/css">
.style1 {
	font-size: large;
	color: #663300;
}
a {
	color: #663300;
}
a:visited {
	color: #008000;
}
</style>
</head>

<body style="background-color: #FFFF99">

<p class="style1"><a href="1.htm">1.<strong>Назначение кис</strong></a></p>
<p class="style1"><strong><a href="2.htm">2.Требования к кис</a></strong></p>
<p class="style1"><strong><a href="3.htm">3.Общая структура объекта автоматизации</a></strong></p>
<p class="style1"><strong><a href="4.1.htm">4.1 Техническое обеспечение</a></strong></p>
<p class="style1"><strong><a href="4.2.htm">4.2 Системное программное обеспечение</a></strong></p>
<p class="style1"><strong><a href="4.3.htm">4.3 Сетевое обеспечение</a></strong></p>
<p class="style1"><strong><a href="4.4.htm">4.4 Средства организации баз данных и работа с ними</a></strong></p>
<p class="style1"><strong><a href="4.5.htm">4.5 Прикладное программное обеспечение</a></strong></p>
<p class="style1"><strong><a href="4.6.htm">4.6 Информационное обеспечение</a></strong></p>
<p class="style1"><strong><a href="5.htm">5. Технология обработки информации</a></strong></p>
<p class="style1"><strong><a href="6.htm">6. Обслуживание системы</a></strong></p>
<p class="style1"><strong><a href="7.htm">7. Защита информации</a></strong></p>
<p class="style1"><strong><a href="8.htm">8. Оценка эффективности </a> </strong></p>

</body>

</html>
