/*html {
  background: url(/assets/background.jpg);
  background-size: cover;
  background-color: green;
  
}

#header {
    font-size: 3em;
    left: 30%;
    line-height: 2;
    color: #afa !important;
    position: absolute;
}
#right {
  border-style: groove;
  border-width: 20px;
  border-color: #afa !important;
  color: #afa !important;
  text-align: center;
  padding: 2%;
  font-size: 100%;
  position: absolute;
  right: 1%;
  
  left: 80%; 
  top: 20%; 
}

#center {
  position: absolute;
  border-style: groove;
  border-width: 20px;
  border-color: #afa !important;
  border-collapse:collapse;
  
  margin-left: 30%;
  top:20%;
}

#left {
  border-style: groove;
  border-width: 20px;
  border-color: #afa !important;
  width: 20%;
  color: rgb(0, 255, 0);
  top: 20%; 
  left: 2%;  
  position: absolute; 
}

button {
  
  color:#afa !important;
  background-color: black;
  width: 100%;
  font-size: 20px; 
  padding: 1%;
}

input { 
  color:#afa !important;
  background-color: black;
  width: 100%;
  padding: 1%;
}

#step {
  width: 100%;
  padding: 1%;
}

td {
  background-color: black;
  border-style: outset;
  border-width: 1px;
}*/